.progress {
  padding: 1rem;
  display: flex;

  &name {
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    height: 24px;
    background: #a5ecd7;
    text-align: center;
    flex: 2;
  }

  &bar {
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    height: 24px;
    background: lightgrey;
    // border-radius: 5px;
    margin-bottom: 0.6rem;
    flex: 9;

    div {
      height: 100%;
      color: #fff;
      text-align: center;
      background: #0278ae;
    }
  }
}
