.about {
  text-align: center;
  padding-top: 5rem;
  margin-top: 3rem;

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: darkgray;
    display: block;
    margin: 1rem 0;
  }

  &-img-skills {
    display: flex;
    padding: 4rem 2rem;
  }

  &-imgDetail {
    margin: 1rem;
    flex: 1;
    img {
      width: 350px;
      border-radius: 40%;
    }

    p {
      font-size: 1.2rem;
      color: grey;
    }
  }

  &-skills {
    margin: 1rem;
    flex: 1;
  }
}
