@import "../../styles/utilities";

.navbar {
  padding: 1.7rem;
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 2rem;
  z-index: 2;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  background-color: $mid-dark;
  border-bottom: 3px solid cyan;

  .logoflex {
    flex: 1;
    .logo {
      font-weight: bolder;
      font-size: 1.7rem;
      cursor: pointer;
      background: -webkit-linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .links {
    flex: 1;

    a {
      padding: 0 3rem;
      color: #fff;
      transition: all 250ms ease-in-out;

      &:hover {
        color: $primary-color;
      }
      &.active {
        color: $primary-color !important;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
  }

  &.fadeInDown {
    animation: fadeInDown 1s ease-in-out;
    animation-fill-mode: both;

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        top: -100px;
      }
      100% {
        opacity: 1;
        top: 0px;
      }
    }
  }
}
